name: Audit Lighthouse
on: [push]

permissions:
  contents: read

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Audit URL using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: 'https://www.google.com' # ÎNLOCUIEȘTE MAI TÂRZIU CU SITE-UL TĂU
          uploadArtifacts: true
          temporaryPublicStorage: true
